{% extends "layout.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}
<form method='POST'>
	<h2>{{ quest.question }}</h2>
	&nbsp&nbsp&nbspA:<input type="radio" name="A"> {{ quest.options[0] }} </input><br>
	&nbsp&nbsp&nbspB:<input type="radio" name="B"> {{ quest.options[1] }} </input><br>
	&nbsp&nbsp&nbspC:<input type="radio" name="C"> {{ quest.options[2] }} </input><br>
	&nbsp&nbsp&nbspD:<input type="radio" name="D"> {{ quest.options[3] }} </input><br>
	<br/>
	 <input type="submit" value="Submit">
</form>
{% endblock %}
